<!DOCTYPE html>
<html>
  <head>
    <div class="container-fluid py-5">
      <header class="pb-3 mb-4 border-top">     
      </header>
        <body>
          <div class="row align-items-center grid text-center ">
            <div class="col-md-6">
              <div class="p-5 text-bg-dark rounded-3 ">
                <h1><%=t('hello')%> </h1>
                <p><%=t('text1')%></p>
                <p><%=t('text2')%></p>
                <%= render "menu" %>
              </div>
            </div>
          </div>
        </body>
      <footer class="pt-3 mt-4 text-muted ">
        <p> <strong><%=t('dateword')%>:</strong> <%= l(Date.today)%> <p>
        © 2022
      </footer>
    </div>
  </head>


</html>

