<div id="<%= dom_id mining_type %>">

  <tr>
    <th>
      <%= mining_type.description %>
    </th>

    <th>
       <%= mining_type.acronym %>
    </th>

    <th>
      <%=link_to t('links.show'),mining_type %>
    </th>

    <th>
      <%=link_to t('links.edit'), edit_mining_type_path(mining_type) %>
    </th>



  <tr>

</div>
