<!DOCTYPE html>
<html>
<head>
  <title>CryptoJhow</title>
  
    
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %> 
  
 
  <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

</head>

<body>
  <h1>Cabeçalho - <%= params[:controller] %></h1>
  <%= yield %>
  <script>$.notify("Funcionou !!!" , "sucess");</script>
</body>
</html>
