<%= form_with(model: coin) do |form| %>
  <% if coin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(coin.errors.count, "error")%> <%=t('textsave')%>:</h2>
      <ul>
        <% coin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label t('description'), style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label t('acronym'), style: "display: block" %>
    <%= form.text_field :acronym %>
  </div>

  <div>
    <%= form.label t('url_image'), style: "display: block" %>
    <%= form.text_field :url_image %>
  </div>

  <div class='field'>
    <%= form.label t('mining_types') %>
    <br>
    <%= form.select("mining_type_id", @mining_type_options , { include_blank: t('links.select')})%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
