<p style="color: blue"><%= notice %></p>
 <table class= "table table-dark">
    <thead>
      <tr>
        <th> <%= t('description') %>  </th>
        <th> <%= t('acronym') %>  </th>
        <th> <%= t('url_image')%> </th>
      </tr>
    </thead>
    <tbody>
      <%= render @coin %>
    </tbody>
  </table>
  <br />
<div> 
  <%= link_to t('links.back'), coins_path %>

  <%= link_to t('links.homepage'), root_path%>
</div>

