<p style="color: blue"><%= notice %></p>
 <table class="table table-dark table-hover table-sm">
    <thead>
      <tr>
        <th> <%= t('description') %>  </th>
        <th> <%= t('acronym') %>  </th>
        <th> <%= t('url_image')%> </th>
      </tr>
    </thead>
    <tbody>
      <%= render @coin %>
    </tbody>
  </table>
  <br />

<%= link_to t('links.back'), coins_path, class: "btn btn-outline-light" %>
<%= link_to t('links.homepage'), root_path, class: "btn btn-outline-light"%>
